<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8" />
    <title>
        <%= title %>
    </title>
    <% include shared/styles %>
</head>

<body>
    <%- include('shared/header'); %>
    <main>
        <div class="container">
            test
        </div>
    </main>
    <% include shared/footer %>
</body>
<% include shared/scripts %>


</html>
