<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8" />
    <title>
        <%= title %>
    </title>
    <% include shared/styles %>
</head>

<body>
    <main>test</main>
    <footer>
        <% include shared/footer %>
    </footer>
</body>
<% include shared/scripts %>


</html>
